[submodule "submodules/cvelistV5"]
	path = submodules/cvelistV5
	url = https://github.com/CVEProject/cvelistV5.git
[submodule "submodules/debian-security-tracker"]
	path = submodules/debian-security-tracker
	url = https://salsa.debian.org/security-tracker-team/security-tracker.git
